export(bst, rbst, rbstpath, cv.rbst, bfunc,
       bst_control, gaussloss, hingeloss, loss, gaussngra, hingengra, gradient, ngradient, plotCVbst, cv.bst, fpartial.bst, mhingeova, cv.mhingeova, mada, cv.mada, evalerr, 
       mhingebst_fit, mhingebst, loss.mhingebst, cv.mhingebst, fpartial.mhingebst, nsel, ex1data, balanced.folds, permute.rows, bst.sel, mbst, mbst_fit, loss.mbst, cv.mbst, fpartial.mbst, rmbst, cv.rmbst)

importFrom("rpart", "rpart")
importFrom("rpart", "rpart.control")
importFrom("rpart", "prune")
importFrom("gbm", "gbm")
importFrom("foreach", "foreach")
importFrom("foreach", "%dopar%")
importFrom("doParallel", "registerDoParallel")
importFrom("doParallel", "stopImplicitCluster")

S3method(plot, bst)
S3method(print, bst)
S3method(coef, bst)
S3method(predict, bst)
S3method(print, mhingeova)

S3method(print, mhingebst)
S3method(predict, mhingebst)
S3method(print, mbst)
S3method(predict, mbst)
importFrom("graphics", "axis", "matplot", "plot", "segments")
importFrom("methods", "show")
importFrom("stats", "coef", "cov", "fitted", "lm", "predict", "runif",
     "smooth.spline", "var")
importFrom("utils", "combn")
importFrom("stats", "median", "quantile", "weighted.mean", "pnorm", "optimize")
